# may be better from: https://stackoverflow.com/questions/37211115/how-to-enable-a-virtualenv-in-a-systemd-service-unit

[Unit]
Description=potoo service
After=syslog.target network.target

[Service]
Type=idle
Environment="PATH=/usr/local/bin/potoo/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/usr/local/bin/potoo/venv/bin/gunicorn potoo:app --bind 0.0.0.0:8002 -t 90
WorkingDirectory=/usr/local/bin

[Install]
WantedBy=multi-user.target
