#!/bin/sh
# Copyright 2020 Benoît Stahl
# SPDX-License-Identifier: GPL-3.0+

case "$1" in
    build)
        ;;

    package)
	mkdir -p ${pkgdir}/etc/potoo/
	cp -R config.ini ${pkgdir}/etc/potoo/
	mkdir -p ${pkgdir}/usr/local/bin
	cp -R potoo ${pkgdir}/usr/local/bin/
	mkdir -p ${pkgdir}/lib/systemd/system/
	cp -R potoo.service /lib/systemd/system/
        ;;

    install)
	systemctl daemon-reload
	systemctl enable potoo
        ;;

    uninstall)
	systemctl disable potoo
	systemctl daemon-reload
	rm -rf /lib/systemd/system/potoo.service
	rm /usr/local/bin/potoo
        ;;

    *)
        echo "$0 called with unknown argument '$1'" >&2
        exit 1
    ;;
esac
