#!/bin/sh

case "$1" in
    build)
        ;;
    package)
        ;;
    install)
        ;;
    uninstall)
        ;;
    *)
        echo "$0 called with unknown argument '$1'" >&2
        exit 1
        ;;
esac
